<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
<style>
	.layui-upload-img {
		max-width: 100%;
	}
	.layui-input-block {
		margin-left: auto;
	}
</style>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="layui-form form-horizontal m" id="form-tExam-edit" th:object="${tExam}">
            <input id="eId" name="eId" th:field="*{eId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">试卷名称：</label>
				<div class="col-sm-8">
					<input id="eName" name="eName" th:field="*{eName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">试卷描述：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">试卷状态：</label>
				<div class="col-sm-8">
					<div class="layui-form-item">
						<div class="layui-input-block">
							<input type="radio" name="status" value="0" title="开启" th:field="*{status}">
							<input type="radio" name="status" value="1" title="禁用" th:field="*{status}">
						</div>
					</div>
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
	<script th:src="@{/layui/layui.all.js}" charset="utf-8"></script>
    <script type="text/javascript">
		var prefix = ctx + "system/tExam";
		$("#form-tExam-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-tExam-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
