<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-tStudentScore-edit" th:object="${tStudentScore}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">试卷ID：</label>
				<div class="col-sm-8">
					<input id="examId" name="examId" th:field="*{examId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">得分：</label>
				<div class="col-sm-8">
					<input id="sumScore" name="sumScore" th:field="*{sumScore}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">考试人姓名：</label>
				<div class="col-sm-8">
					<input id="examUsername" name="examUsername" th:field="*{examUsername}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">考试人ID：</label>
				<div class="col-sm-8">
					<input id="examUserid" name="examUserid" th:field="*{examUserid}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">考试时间：</label>
				<div class="col-sm-8">
					<input id="examTime" name="examTime" th:field="*{examTime}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "exam/tStudentScore";
		$("#form-tStudentScore-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-tStudentScore-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
